<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.carlosnunez.bundles.demos.wiz</string>
	<key>connections</key>
	<dict>
		<key>3D38B3CB-0655-4883-8F25-4E0C1A44D756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C46A5593-C1E7-4F36-A7CF-158DC39011A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A2DA040-2E34-4458-90DE-E217E2660E90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5F89E51-5328-46AB-93C6-11F62059E36C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D2384A3-7405-44D2-901F-7954B49FE3D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A2DA040-2E34-4458-90DE-E217E2660E90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4CCAED79-66A0-4F75-A70D-700D0D15008A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D38B3CB-0655-4883-8F25-4E0C1A44D756</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD08B802-59C9-4EC4-9686-F94443BB4FAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4CC9ABF-98D7-4F94-8954-769F8ADA7296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C46A5593-C1E7-4F36-A7CF-158DC39011A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0D24619-5045-4BA9-9B75-E62AC5609263</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA8009D8-9EDB-46C4-B246-5C4391637D50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D2384A3-7405-44D2-901F-7954B49FE3D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5F89E51-5328-46AB-93C6-11F62059E36C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD08B802-59C9-4EC4-9686-F94443BB4FAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0D24619-5045-4BA9-9B75-E62AC5609263</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB74368B-B768-455A-90A8-4D29640E35B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Nunez</string>
	<key>description</key>
	<string>Spins up and tears down clean demo environments.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Demo Handler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open /Users/carlos.nunez/Library/CloudStorage/OneDrive-Wiz/Demos/Decks/sec.ppsx</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5F89E51-5328-46AB-93C6-11F62059E36C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 2
/usr/bin/automator ~/src/setup/macos_automator_workflows/hideAllWindows.workflow
sleep 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A2DA040-2E34-4458-90DE-E217E2660E90</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Documents/Firefox (Wiz Demo).app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BD08B802-59C9-4EC4-9686-F94443BB4FAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>big</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>me.carlosnunez.bundles.mouse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E4CC9ABF-98D7-4F94-8954-769F8ADA7296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>wiz</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CA8009D8-9EDB-46C4-B246-5C4391637D50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>on</string>
						<key>outputlabel</key>
						<string>Spin up demo stuff</string>
						<key>uid</key>
						<string>4CCAED79-66A0-4F75-A70D-700D0D15008A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Tear down demo stuff</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5D2384A3-7405-44D2-901F-7954B49FE3D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>small</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>me.carlosnunez.bundles.mouse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BB74368B-B768-455A-90A8-4D29640E35B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ps -ef | grep -i powerpoint | grep -v grep | awk '{print $2}' | xargs kill -9</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C46A5593-C1E7-4F36-A7CF-158DC39011A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 2
/usr/bin/automator ~/src/setup/macos_automator_workflows/unhideAllWindows.workflow
sleep 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0D24619-5045-4BA9-9B75-E62AC5609263</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ps -ef | grep -i wiz-demo | grep -v grep | awk '{print $2}' | xargs kill</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D38B3CB-0655-4883-8F25-4E0C1A44D756</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3D38B3CB-0655-4883-8F25-4E0C1A44D756</key>
		<dict>
			<key>note</key>
			<string>Tear down the demo environment.</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>5A2DA040-2E34-4458-90DE-E217E2660E90</key>
		<dict>
			<key>note</key>
			<string>Hide all windows on the main desktop (so that they don't show up during Zoom screen share).</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5D2384A3-7405-44D2-901F-7954B49FE3D3</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>BB74368B-B768-455A-90A8-4D29640E35B8</key>
		<dict>
			<key>note</key>
			<string>Shrink the mouse.</string>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>BD08B802-59C9-4EC4-9686-F94443BB4FAF</key>
		<dict>
			<key>note</key>
			<string>Launch demo enivronment.</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C46A5593-C1E7-4F36-A7CF-158DC39011A0</key>
		<dict>
			<key>note</key>
			<string>Tear down the demo deck.</string>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>CA8009D8-9EDB-46C4-B246-5C4391637D50</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>D5F89E51-5328-46AB-93C6-11F62059E36C</key>
		<dict>
			<key>note</key>
			<string>Launch PowerPoint demo.</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E0D24619-5045-4BA9-9B75-E62AC5609263</key>
		<dict>
			<key>note</key>
			<string>Restore windows.</string>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>E4CC9ABF-98D7-4F94-8954-769F8ADA7296</key>
		<dict>
			<key>note</key>
			<string>Embiggen the mouse.</string>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/carlosonunez</string>
</dict>
</plist>
