<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>072B7AE0-DAEB-42C0-9D5A-A40B2223589B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB2416B4-FF5D-4EAD-A54A-36662DB64079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A68A3D1C-4E67-4499-8760-A4EB1C027F5A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>46AB5294-C795-434F-998F-DD7510A6E25F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08A1238B-6C27-403C-A426-6C199ABF804F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>832517A1-9870-4FD0-A0B5-96A8AF66E862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12BED174-1835-4872-B2BA-6B89BE7B96BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46AB5294-C795-434F-998F-DD7510A6E25F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>410F2DB9-D0D2-4433-AD3C-7D33B0719711</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A338429-46FF-4978-A701-5E8B72F4E5A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>832517A1-9870-4FD0-A0B5-96A8AF66E862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD36CE0-3FC2-41D4-8A10-7D38B8AD19CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A338429-46FF-4978-A701-5E8B72F4E5A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFD36CE0-3FC2-41D4-8A10-7D38B8AD19CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2416B4-FF5D-4EAD-A54A-36662DB64079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12BED174-1835-4872-B2BA-6B89BE7B96BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFD36CE0-3FC2-41D4-8A10-7D38B8AD19CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072B7AE0-DAEB-42C0-9D5A-A40B2223589B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VNC Handlers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>attempt=0
max_attempts=10
&gt;&amp;2 echo "INFO: Testing connectivity to $host"
while test "$attempt" -lt "$max_attempts"
do
  nslookup $host &amp;&amp; exit 0
  &gt;&amp;2 echo "INFO: Tailscale not up yet."
  sleep 1
  attempt=$((attempt+1))
done
exit 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12BED174-1835-4872-B2BA-6B89BE7B96BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Start Tailscale (Home Exit Node)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>AB2416B4-FF5D-4EAD-A54A-36662DB64079</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>&amp;&gt;/dev/null nslookup dns; echo "$?" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFD36CE0-3FC2-41D4-8A10-7D38B8AD19CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>vnc://{var:host}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46AB5294-C795-434F-998F-DD7510A6E25F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>not at home</string>
						<key>uid</key>
						<string>A68A3D1C-4E67-4499-8760-A4EB1C027F5A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>is at home</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>072B7AE0-DAEB-42C0-9D5A-A40B2223589B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>410F2DB9-D0D2-4433-AD3C-7D33B0719711</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>host</key>
					<string>office</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A338429-46FF-4978-A701-5E8B72F4E5A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>08A1238B-6C27-403C-A426-6C199ABF804F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>host</key>
					<string>work-machine</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>832517A1-9870-4FD0-A0B5-96A8AF66E862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>072B7AE0-DAEB-42C0-9D5A-A40B2223589B</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>08A1238B-6C27-403C-A426-6C199ABF804F</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>12BED174-1835-4872-B2BA-6B89BE7B96BE</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>410F2DB9-D0D2-4433-AD3C-7D33B0719711</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>46AB5294-C795-434F-998F-DD7510A6E25F</key>
		<dict>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>832517A1-9870-4FD0-A0B5-96A8AF66E862</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>9A338429-46FF-4978-A701-5E8B72F4E5A5</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>AB2416B4-FF5D-4EAD-A54A-36662DB64079</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>EFD36CE0-3FC2-41D4-8A10-7D38B8AD19CA</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
