<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.carlosnunez.bundles.lights</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>45506E5F-36FA-4948-8414-6C092EAA8F70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD331DB3-26DE-4D7E-B88B-FC11471BEB56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>493E41C7-7202-4B29-B650-440BC471B49E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD331DB3-26DE-4D7E-B88B-FC11471BEB56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C4A4BE4-3A71-4AEA-8EB9-D7D457324889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AB10F01-495E-4CBC-8F8A-A01E9A87A2E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAB95522-EB4E-4114-BC8E-23E0452E4BB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB46E60B-EDA5-48C6-BF78-CDC891D6012B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Nunez</string>
	<key>description</key>
	<string>Handy keyboard shortcuts for Elgato lights!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Elgato Handler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9C4A4BE4-3A71-4AEA-8EB9-D7D457324889</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${ELGATO_BIN} brightness --level 40 1
${ELGATO_BIN} brightness --level 26 0
${ELGATO_BIN} color --level 5000 0
${ELGATO_BIN} color --level 3700 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AB10F01-495E-4CBC-8F8A-A01E9A87A2E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${ELGATO_BIN} brightness --level 20 0
${ELGATO_BIN} brightness --level 14 1
${ELGATO_BIN} color --level 6000 0
${ELGATO_BIN} color --level 6000 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB46E60B-EDA5-48C6-BF78-CDC891D6012B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FAB95522-EB4E-4114-BC8E-23E0452E4BB9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if test -z "{query}"
then
  &gt;&amp;2 echo "ERROR: Please provide a light switch operation (on, off, or toggle)."
  exit 1
fi
if ! grep -Eq 'on|off|toggle' &lt;&lt;&lt; "{query}"
then
  &gt;&amp;2 echo "ERROR: Light switch operation [{query}] is not supported."
  exit 1
fi
${ELGATO_BIN} lights | grep -E '^Light' | rev | cut -f1 -d ' ' | xargs -L 1 ${ELGATO_BIN} {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD331DB3-26DE-4D7E-B88B-FC11471BEB56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>switch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>45506E5F-36FA-4948-8414-6C092EAA8F70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>toggle</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>493E41C7-7202-4B29-B650-440BC471B49E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2AB10F01-495E-4CBC-8F8A-A01E9A87A2E4</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>45506E5F-36FA-4948-8414-6C092EAA8F70</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>493E41C7-7202-4B29-B650-440BC471B49E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>9C4A4BE4-3A71-4AEA-8EB9-D7D457324889</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>AD331DB3-26DE-4D7E-B88B-FC11471BEB56</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>DB46E60B-EDA5-48C6-BF78-CDC891D6012B</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>FAB95522-EB4E-4114-BC8E-23E0452E4BB9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ELGATO_BIN</key>
		<string>/Users/carlos.nunez/.home_env/bin/elgato</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/carlosnunez</string>
</dict>
</plist>
