<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.carlosnunez.alfred.journal_entries</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05D9F2C7-0610-43A7-97A6-4A00D35080BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6FC87A7-97FA-48A4-8F25-4F593DD6E1A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35BBD622-0C4E-4346-88C6-D0354321BFBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C3BA3E6-4F7C-4FA5-AF01-74D66383BB0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37C5B44A-8361-473C-BC4D-12D3FB0DE790</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37C5B44A-8361-473C-BC4D-12D3FB0DE790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED5EC556-40A4-4FBF-850E-BE7301C5221E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35BBD622-0C4E-4346-88C6-D0354321BFBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E62F476-EE8E-45FF-B0AD-1E649D70F1B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8CC30B-E5B4-41CF-9D0A-81047551B74B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50471C1C-2524-40ED-95CD-43BC2A9874E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA148A76-FDC3-4651-9962-A61310FBB8B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>521CF30A-2D0C-4E33-BED4-D3B4FBFB66CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E846DD18-9255-4F1E-AD9A-32553B216B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6664255C-1FD3-4F36-8A56-E57A39E0EB1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05D9F2C7-0610-43A7-97A6-4A00D35080BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>50471C1C-2524-40ED-95CD-43BC2A9874E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C3BA3E6-4F7C-4FA5-AF01-74D66383BB0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C1BF596-B61A-4728-A51E-50042111019A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C8CC30B-E5B4-41CF-9D0A-81047551B74B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6664255C-1FD3-4F36-8A56-E57A39E0EB1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A04B314C-D88B-441F-A43E-28D9703E5087</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6633C84-9567-4B97-85C2-3FEF49D177FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6633C84-9567-4B97-85C2-3FEF49D177FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1423ED4B-73D8-40F6-B9A3-4E40E5E86CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E846DD18-9255-4F1E-AD9A-32553B216B64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E62F476-EE8E-45FF-B0AD-1E649D70F1B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Nunez</string>
	<key>description</key>
	<string>A convenient shortcut for adding entries into my work journal.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Work journal entries</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>entry</string>
				<key>subtext</key>
				<string>Adds a new entry into my work journal.</string>
				<key>text</key>
				<string>Add to work journal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if ! test -d $HOME/src/my-work-journal
then
  echo "{\"alfredworkflow\":{\"variables\":{\"error\": \"$HOME/src/my-work-journal not found. Please clone the work journal from https://github.com/carlosonunez/my-work-journal.\"}}}"
  exit 0
fi

if ! output=$(&gt;&amp;1 $HOME/src/my-work-journal/add_line_to_today $*)
then
  echo "{\"alfredworkflow\":{\"variables\":{\"error\": \"$output\"}}}"
else
  echo "{\"alfredworkflow\":{\"variables\":{\"directory\": \"$output\"}}}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35BBD622-0C4E-4346-88C6-D0354321BFBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your entry has been added to {var:directory}.</string>
				<key>title</key>
				<string>Journal entry added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1C1BF596-B61A-4728-A51E-50042111019A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6C3BA3E6-4F7C-4FA5-AF01-74D66383BB0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Something went wrong: {var:error}</string>
				<key>title</key>
				<string>Journal entry not added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ED5EC556-40A4-4FBF-850E-BE7301C5221E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>37C5B44A-8361-473C-BC4D-12D3FB0DE790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>while [ ! -f /tmp/journal_entry ]; do sleep 0.5; done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C8CC30B-E5B4-41CF-9D0A-81047551B74B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>test -f /tmp/journal_entry &amp;&amp; rm -f /tmp/journal_entry</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E846DD18-9255-4F1E-AD9A-32553B216B64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>long_entry</string>
				<key>subtext</key>
				<string>Adds a longer entry into my work journal.</string>
				<key>text</key>
				<string>Add to work journal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>521CF30A-2D0C-4E33-BED4-D3B4FBFB66CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if ! test -d $HOME/src/my-work-journal
then
  echo "ERROR: $HOME/src/my-work-journal not found. Please clone the work journal first from https://github.com/carlosonunez/my-work-journal."
  exit 1
fi
if ! test -f /tmp/journal_entry || ! test -s /tmp/journal_entry
then
  echo '{"alfredworkflow":{"variables":{"error":"Please provide a journal entry."}}}'
  exit 1
fi
if ! output=$($HOME/src/my-work-journal/add_line_to_today &lt;&lt;ENTRY
$(cat /tmp/journal_entry)
ENTRY)
then
  exit 1
else
  echo "{\"alfredworkflow\":{\"variables\":{\"directory\": \"$output\"}}}"
  rm /tmp/journal_entry
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6664255C-1FD3-4F36-8A56-E57A39E0EB1F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>vim -u NONE /tmp/journal_entry &amp;&amp; exit 0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>3E62F476-EE8E-45FF-B0AD-1E649D70F1B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your entry has been added to {var:directory}.</string>
				<key>title</key>
				<string>Journal entry added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E6FC87A7-97FA-48A4-8F25-4F593DD6E1A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>05D9F2C7-0610-43A7-97A6-4A00D35080BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Something went wrong: {var:error}</string>
				<key>title</key>
				<string>Journal entry not added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FA148A76-FDC3-4651-9962-A61310FBB8B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>50471C1C-2524-40ED-95CD-43BC2A9874E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if ! test -d $HOME/src/my-work-journal
then
  echo "ERROR: $HOME/src/my-work-journal not found. Please clone the work journal first from https://github.com/carlosonunez/my-work-journal."
  exit 1
fi

ls -t $HOME/src/my-work-journal/*.md | grep -v "README.md" | awk '{print $NF}' | xargs -I {} sh -c "cat {} | pbcopy"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6633C84-9567-4B97-85C2-3FEF49D177FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Today's journal entry has been copied into your clipboard.</string>
				<key>title</key>
				<string>Today's journal entry copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1423ED4B-73D8-40F6-B9A3-4E40E5E86CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>copy_todays_entry</string>
				<key>subtext</key>
				<string>This can be useful for things like timesheets, Git commits, etc.</string>
				<key>text</key>
				<string>Copy today's journal entry</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A04B314C-D88B-441F-A43E-28D9703E5087</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>05D9F2C7-0610-43A7-97A6-4A00D35080BA</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>1423ED4B-73D8-40F6-B9A3-4E40E5E86CF0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>1C1BF596-B61A-4728-A51E-50042111019A</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>35BBD622-0C4E-4346-88C6-D0354321BFBA</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>37C5B44A-8361-473C-BC4D-12D3FB0DE790</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. Add a keyword object by right-clicking the canvas and choosing Inputs &gt; Keyword. Set the keyword and title to show it in Alfred's results.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3E62F476-EE8E-45FF-B0AD-1E649D70F1B1</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>50471C1C-2524-40ED-95CD-43BC2A9874E9</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>521CF30A-2D0C-4E33-BED4-D3B4FBFB66CE</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. Add a keyword object by right-clicking the canvas and choosing Inputs &gt; Keyword. Set the keyword and title to show it in Alfred's results.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>6664255C-1FD3-4F36-8A56-E57A39E0EB1F</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>6C3BA3E6-4F7C-4FA5-AF01-74D66383BB0F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>8C8CC30B-E5B4-41CF-9D0A-81047551B74B</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>A04B314C-D88B-441F-A43E-28D9703E5087</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C6633C84-9567-4B97-85C2-3FEF49D177FD</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>E6FC87A7-97FA-48A4-8F25-4F593DD6E1A9</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>E846DD18-9255-4F1E-AD9A-32553B216B64</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>ED5EC556-40A4-4FBF-850E-BE7301C5221E</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>FA148A76-FDC3-4651-9962-A61310FBB8B1</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/carlosonunez/my-work-journal</string>
</dict>
</plist>
