<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>06528E31-69C4-4C1A-AA68-197913D1E8AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>173098B3-5CC9-480C-8C39-1CDD5DE21E4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7AA57B3-9B4B-44AA-9753-5982339ED127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF6E9F68-FE4F-46A8-BA91-16D9065B4DD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Take Over Annoying Keyboard Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Alfred disabled this often-mistakenly-invoked keyboard shortcut. See Alfred's preferences to disable this.</string>
				<key>title</key>
				<string>Hiding windows is disabled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>173098B3-5CC9-480C-8C39-1CDD5DE21E4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>06528E31-69C4-4C1A-AA68-197913D1E8AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Alfred disabled this often-mistakenly-invoked keyboard shortcut. See Alfred's preferences to disable this.</string>
				<key>title</key>
				<string>Minimizing windows is disabled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CF6E9F68-FE4F-46A8-BA91-16D9065B4DD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C7AA57B3-9B4B-44AA-9753-5982339ED127</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06528E31-69C4-4C1A-AA68-197913D1E8AA</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>173098B3-5CC9-480C-8C39-1CDD5DE21E4D</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C7AA57B3-9B4B-44AA-9753-5982339ED127</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CF6E9F68-FE4F-46A8-BA91-16D9065B4DD0</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
