<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.carlosnunez.bundles.meetings</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>188728F5-7DFC-4049-B6BB-C374180D79BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7232222-B2A1-48A1-8F15-E73E55FE733D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F807F74-7905-4FF0-B9E6-E57DE19D6235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>188728F5-7DFC-4049-B6BB-C374180D79BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57C00D48-FCB7-4D4D-8B32-BF41F60E2BB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>392E71F1-352B-4800-B067-CD963FEFE558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA460B04-B19C-4B28-8444-67A25C276E85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>188728F5-7DFC-4049-B6BB-C374180D79BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55BA005E-5532-46FB-A710-EB4FD06BB542</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B26DB85-8BD5-41D7-AD99-23C088B158CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57C00D48-FCB7-4D4D-8B32-BF41F60E2BB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>813D4660-9F4B-4A40-AD21-223CEFF191DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8C4EBF6-24F0-4C31-969C-3A0761451535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7232222-B2A1-48A1-8F15-E73E55FE733D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553A6DD5-745E-4B15-9515-8099AEC6F03B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C4EBF6-24F0-4C31-969C-3A0761451535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55BA005E-5532-46FB-A710-EB4FD06BB542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F07F7AB2-A339-4BB0-A4BC-1033723425C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>392E71F1-352B-4800-B067-CD963FEFE558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Nunez</string>
	<key>description</key>
	<string>Load applications that make meetings better.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Meeting Handler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>switch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>me.carlosnunez.bundles.lights</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>813D4660-9F4B-4A40-AD21-223CEFF191DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Krisp, Zoom, and other VC apps have been closed.</string>
				<key>title</key>
				<string>Your meeting is done.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B26DB85-8BD5-41D7-AD99-23C088B158CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for app in zoom teams krisp
do ps -ef | grep -i "$app" | grep -Ev 'grep|Core Audio' | awk '{print $2}' | while read -r pid; do &gt;&amp;2 echo "INFO: Terminating '$app' with PID '$pid'"; kill "$pid"; done
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8C4EBF6-24F0-4C31-969C-3A0761451535</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Do Not Disturb - Off</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>55BA005E-5532-46FB-A710-EB4FD06BB542</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>off</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>57C00D48-FCB7-4D4D-8B32-BF41F60E2BB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F07F7AB2-A339-4BB0-A4BC-1033723425C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>switch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>me.carlosnunez.bundles.lights</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BA460B04-B19C-4B28-8444-67A25C276E85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>[Office] You're ready to meet!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>on</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>392E71F1-352B-4800-B067-CD963FEFE558</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Do Not Disturb - On</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>B7232222-B2A1-48A1-8F15-E73E55FE733D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1F807F74-7905-4FF0-B9E6-E57DE19D6235</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>[Mobile] You're ready to meet!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>553A6DD5-745E-4B15-9515-8099AEC6F03B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Applications/krisp.app
open "/Applications/Firefox.app" https://meet.google.com</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>188728F5-7DFC-4049-B6BB-C374180D79BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>188728F5-7DFC-4049-B6BB-C374180D79BB</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>1F807F74-7905-4FF0-B9E6-E57DE19D6235</key>
		<dict>
			<key>note</key>
			<string>Turn on meeting stuff while on the go.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</key>
		<dict>
			<key>note</key>
			<string>Tear down meeting stuff.</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>392E71F1-352B-4800-B067-CD963FEFE558</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>4B26DB85-8BD5-41D7-AD99-23C088B158CE</key>
		<dict>
			<key>xpos</key>
			<real>1465</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>553A6DD5-745E-4B15-9515-8099AEC6F03B</key>
		<dict>
			<key>xpos</key>
			<real>1215</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>55BA005E-5532-46FB-A710-EB4FD06BB542</key>
		<dict>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>57C00D48-FCB7-4D4D-8B32-BF41F60E2BB7</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>813D4660-9F4B-4A40-AD21-223CEFF191DF</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>B7232222-B2A1-48A1-8F15-E73E55FE733D</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>B8C4EBF6-24F0-4C31-969C-3A0761451535</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>BA460B04-B19C-4B28-8444-67A25C276E85</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>F07F7AB2-A339-4BB0-A4BC-1033723425C1</key>
		<dict>
			<key>note</key>
			<string>Turn on meeting stuff while in the office.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>AUTHY_BIN</key>
		<string></string>
		<key>DEMO_MOUSE_SIZE</key>
		<string>4</string>
		<key>ELGATO_BIN</key>
		<string>/Users/carlos.nunez/.home_env/bin/elgato</string>
		<key>NORMAL_MOUSE_SIZE</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/carlosonunez</string>
</dict>
</plist>
