<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1D4AA13F-5B7D-4A1F-AAFD-B83C12FEE423</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553A6DD5-745E-4B15-9515-8099AEC6F03B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F807F74-7905-4FF0-B9E6-E57DE19D6235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D4AA13F-5B7D-4A1F-AAFD-B83C12FEE423</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8C4EBF6-24F0-4C31-969C-3A0761451535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AACBD7E-E60F-47B0-8560-097284BA1BCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E436AB0F-27B6-4ED7-90D7-A6FB7AC6D6FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C4EBF6-24F0-4C31-969C-3A0761451535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B26DB85-8BD5-41D7-AD99-23C088B158CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E436AB0F-27B6-4ED7-90D7-A6FB7AC6D6FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F07F7AB2-A339-4BB0-A4BC-1033723425C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AACBD7E-E60F-47B0-8560-097284BA1BCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>OBS has better noise suppression techniques than most VC apps. Open it to enable routing input via VB-Cable.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OBS and VB-Cable Handler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Krisp, Zoom, and other VC apps have been closed.</string>
				<key>title</key>
				<string>Your meeting is done.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B26DB85-8BD5-41D7-AD99-23C088B158CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pkill -HUP zoom
pkill -i obs teams chromacam krisp
/Users/cn/.home_env/bin/elgato lights | grep -E ^Light | awk '{print $NF}' |
	while read -r light_id;
	do /Users/cn/.home_env/bin/elgato off "$light_id";
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8C4EBF6-24F0-4C31-969C-3A0761451535</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/krisp.app</string>
					<string>/Applications/zoom.us.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1D4AA13F-5B7D-4A1F-AAFD-B83C12FEE423</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1F807F74-7905-4FF0-B9E6-E57DE19D6235</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>[Mobile] You're ready to meet!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>553A6DD5-745E-4B15-9515-8099AEC6F03B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F07F7AB2-A339-4BB0-A4BC-1033723425C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>OFFICE_LAT='29.527943'
OFFICE_LONG='-95.735772'
idx=0
while test idx -lt 15
do
  if pgrep -i chromacam
  then
    pkill -i chromacam
    exit
  fi
  test=$((test+1))
  sleep 1
done
/Users/cn/.home_env/bin/elgato lights | grep -E ^Light | awk '{print $NF}' |
	while read -r light_id;
	do /Users/cn/.home_env/bin/elgato on "$light_id";
done
/Users/cn/.home_env/bin/elgato brightness --level 60 0
/Users/cn/.home_env/bin/elgato brightness --level 45 1
/Users/cn/.home_env/bin/elgato color --level 5200 0
/Users/cn/.home_env/bin/elgato color --level 3700 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E436AB0F-27B6-4ED7-90D7-A6FB7AC6D6FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/krisp.app</string>
					<string>/Applications/zoom.us.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5AACBD7E-E60F-47B0-8560-097284BA1BCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>[Office] You're ready to meet!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D4AA13F-5B7D-4A1F-AAFD-B83C12FEE423</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>1F807F74-7905-4FF0-B9E6-E57DE19D6235</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>341DA14A-CA65-4F00-AC49-A5DEE76C90AB</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>4B26DB85-8BD5-41D7-AD99-23C088B158CE</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>53FF37BC-BCBC-4225-8BC3-4BAB62219E33</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>553A6DD5-745E-4B15-9515-8099AEC6F03B</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>5AACBD7E-E60F-47B0-8560-097284BA1BCF</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>B8C4EBF6-24F0-4C31-969C-3A0761451535</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>E436AB0F-27B6-4ED7-90D7-A6FB7AC6D6FD</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>F07F7AB2-A339-4BB0-A4BC-1033723425C1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
